{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>Create Receipt</h1>
        <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        {% comment %} <input type="text" name="vendor" label="vendor">
        <input type="text" name="total" label="total">
        <input type="text" name="tax" label="tax">
        <input type="text" name="date" label="date"> {% endcomment %}
        <button type="submit">Create</button>
        </form>
    </div>
</main>
{% endblock content %}
